---
- name: Install Packages | apt
  apt:
    state: latest
    pkg: "{{ item }}"
  with_items:
    - python-pip

- name: Install Packages | pip
  pip:
    state: latest
    name: "{{ item }}"
  with_items:
    - ansible
